* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

header {
    width: 1200px;
    height: 100px;
}

.logo {
    width: 150px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

.row {
    height: 500px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.box-1 {
    height: 500px;
}

.photo1 {
    height: 500px;
    margin: 0 auto;
}

.main-content {
    height: 700px;
}

.barra {
    height: 100px;
    margin: 20px 0;
}

.box-blue1 {
    float: left;
    width: 20%;
    height: 508px;
    vertical-align: top;
}

.box-blue2 {
    float: left;
    width: 60%;
    height: 508px;
    vertical-align: top;
}

.photo {
    width: 60%;
}
.box-blue3 {
    float: left;
    width: 20%;
    height: 508px;
    vertical-align: top;
}
